<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lucky Draw App</title>
    <link rel="stylesheet" href="./src/css/style.css" />
    <link rel="stylesheet" href="./src/css/result-random.css" />
    <link rel="stylesheet" href="./assets/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="./assets/lib/css/animate.min.css" />
    <script src="./assets/lib/js/socket.io.min.js"></script>
  </head>
  <body>
    <div class="intro">
      <video id="intro-video" autoplay muted>
        <source src="./assets/media/introv2.mp4" type="video/mp4" />
      </video>
    </div>
    <div class="root">
      <div class="header">
        <div class="logo ml-5">
          <img src="./assets/logo.png" id="playPauseBtn" alt="logo" />
        </div>
        <div class="title">
          <img style="width: 1200px" src="./assets/tittle.png" alt="" />
        </div>
        <div class="media">
          <div class="music-player">
            <audio id="myAudio" src="./assets/media/musicv2.mp3"></audio>
            <audio id="myAudio2" src="./assets/media/music-game-play.mp3"></audio>
          </div>
        </div>
      </div>
      <div class="main">
        <div class="d-flex justify-content-center align-items-center">
          <img
            id="ribbon-img"
            src="./assets/ribbon/ribbon5.png"
            style="width: 800px; height: 210px; margin-bottom: 100px"
            alt=""
          />
        </div>
        <div class="result-random">
          <div id="container">
            <div
              class="palette d-flex justify-content-center align-items-center"
              id="palette-result"
            ></div>
          </div>
        </div>
      </div>
      <div class="footer d-flex justify-content-center align-items-start">
        <div
          id="giainhat"
          class="prize"
          onclick="bookGift(this)"
          data-tpe="nhat"
        >
          <img src="./assets/icon/Asset1.png" style="width: 320px" />
          <div
            class="amount-gift"
            id="amount-nhat"
            onclick="renderResultLatest('nhat')"
          >
            20
          </div>
        </div>
        <div id="giainhi" class="prize" onclick="bookGift(this)" data-tpe="nhi">
          <img src="./assets/icon/Asset2.png" style="width: 320px" />
          <div
            class="amount-gift"
            id="amount-nhi"
            onclick="renderResultLatest('nhi')"
          >
            20
          </div>
        </div>
        <div id="giaiba" class="prize" onclick="bookGift(this)" data-tpe="ba">
          <img
            src="./assets/icon/Asset3.png"
            style="width: 280px; margin-top: 4px"
          />
          <div
            class="amount-gift"
            id="amount-ba"
            onclick="renderResultLatest('ba')"
          >
            20
          </div>
        </div>
        <div
          id="giaikhuyenkhich"
          class="prize"
          onclick="bookGift(this)"
          data-tpe="khuyenkhich"
        >
          <img
            src="./assets/icon/Asset4.png"
            style="width: 221px; margin-top: 30px"
          />
          <div
            class="amount-gift"
            id="amount-khuyenkhich"
            onclick="renderResultLatest('khuyenkhich')"
          >
            20
          </div>
        </div>
        <!-- <div
          id="giaimayman"
          class="prize"
          onclick="bookGift(this)"
          data-tpe="mayman"
        >
          <img
            src="./assets/icon/Asset5.png"
            style="width: 210px; margin-top: 30px"
          />
          <div
            class="amount-gift"
            id="amount-mayman"
            onclick="renderResultLatest('mayman')"
          >
            20
          </div>
        </div> -->
      </div>
    </div>

    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header bg-danger text-white">
            <h5 class="modal-title" id="exampleModalLabel">Result</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body" style="background-color: #dea63f"></div>
        </div>
      </div>
    </div>
    <!-- Trong phần <body> -->
    <video
      id="backgroundVideo"
      class="fullscreen-bg fullscreen-bg__video"
      autoplay
      loop
      muted
    >
      <source src="./assets/media/background.mp4" type="video/mp4" />
      <!--Thêm các định dạng video khác nếu cần-->
    </video>
    <script src="./assets/lib/js/jquery-3.3.1.slim.min.js"></script>
    <script src="./assets/lib/js/popper.min.js"></script>
    <script src="./assets/lib/js/bootstrap.min.js"></script>
    <script src="./src/js/render.js"></script>
    <script src="./src/js/main.js"></script>
    <script>
       const socket = io('http://103.1.236.212:3111'); 
       socket.on('broadcast', (data) => {
        const visiblePrizeElements = [...document.querySelectorAll('.prize')].filter(element => getComputedStyle(element).display !== 'none');
        visiblePrizeElements.forEach(element => element.click());
        console.log('Broadcast received:', data);
      });
    </script>

    
  </body>
</html>
